# Object files
*.o

# Libraries
#*.lib
#*.a

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ignore files
bin/*
*.log
logs/*.log
.settings/*
!bin/
!bin/README
!bin/properties
!bin/cluster_partitions
